<form [formGroup]="livroForm" (ngSubmit)="onSubmit()">
  <div style="margin-bottom: 1em">
    <button type="submit" [disabled]="livroForm.pristine" class="btn btn-success">Cadastrar</button>
    <button type="button" (click)="limpar()" [disabled]="livroForm.pristine" class="btn btn-danger">Revert</button>
  </div>

  <div class="form-group">
      <label class="center-block">Nome:
        <input class="form-control" formControlName="nome">
      </label>
  </div>

  <div class="form-group">
      <label class="center-block">Autor:
        <input class="form-control" formControlName="autor">
      </label>
  </div>

  <div class="form-group">
      <label class="center-block">Editora:
        <input class="form-control" formControlName="editora">
      </label>
  </div>

</form>