<form class="form-horizontal" [formGroup]="livroForm" (ngSubmit)="onSubmit()">
  <div class="form-group" [ngClass]="aplicaCssErro('nome')">
    <div class="col-sm-12">
      <label for="nome" class="control-label">Nome</label>
    </div>

    <div class="col-sm-12">
      <input type="text" class="form-control" formControlName="nome" id="nome" placeholder="Nome">

      <app-mensagem-erro [mostrarErro]="verificaValidTouched('nome')" msgErro="Nome é obrigatório.">
      </app-mensagem-erro>
    </div>
  </div>

  <div style="margin-bottom: 1em">
    <button type="submit" class="btn btn-success">Cadastrar</button>
    <button type="button" (click)="limpar()" class="btn btn-danger">Revert</button>
  </div>
</form>